/*Global*/

body{
	font: 15px/1.5 Times-new Roman,;
	padding:0;
	margin:0;
	background-color:#000000
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

.blocktext{
	float:center;
	width:40%;
	margin:auto;
	overflow:hidden;
}

.highlight, .current{
	color:#ff4040;
}

.musictheme{
	display:none;
	volume:-60%;
}

.li_button a{
	background-color:#ff4040;
	color:#ffffff;
	text-decoration:none;
	font-size: 16px;
	display:inline;
	padding: 10px 30px 10px 30px;
}

.li_button a:focus{
	color:#000000;
	background-color:#ff3030;
}


i#lastupdated{
	font-size:11px;
	color:#ffffff;
	float:right;
}

ul{
	margin:0;
	padding:0;
}

p#promo{
	font-family: 'Segoe Script';
}

#hiddentexts{
	display:none;
	
}

/* Header **/

header{
	min-height:70px;
	border-bottom:#ff4040 5px solid;
	padding-top:30px;	
}

header a{
	color:#ffffff;
	text-decoration:none;
	font-size: 16px;
}

header li{
	float:left;
	display:inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float:left;
}

header #branding h1{	
    margin:0;
}

header nav{
	float:left;
	margin-top:10px;
	margin-bottom:10px;
}

header a:hover{
	color:#ff4040;
}


/*Aside ID's*/

aside#sidebar{
	float:right;
	width:30%;
	margin:10px;
}

aside#sidebar-left{
	float:left;
	width:15%;
	margin-top:50px;
}

aside#sidebar-right{
	width:15%;
	float:right;
	margin-top:50px;
}


/*Article ID's*/
article#main-col{
	float:left;
	width: 65%;
	margin-top:10px;
}


/*Section ID's*/

section#concepts{
	padding:20px;
	margin-top:20px;
	color:#ffffff;
	font-size:30px;
}

section#concepts img{
	padding:40px;
}


/* Footer */

footer{
	padding:10px;
	margin-top:20px;
	color:#ffffff;
	background-color:#ff3030;
	text-align:center;
}





