body{
	font: 15px/1.5 Times-new Roman;
	padding:0;
	margin:0;
	background-color:#000000
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

.centertext{
	float:center;
	width:40%;
	margin:auto;
	overflow:hidden;
}




ul{
	margin:0;
	padding:0;
}





/* Header **/
header{
	min-height:70px;
	border-bottom:#ff4040 5px solid;
	padding-top:30px;	
	color#ff4040;

}

header a{
	color:#ffffff;
	text-decoration:none;
	font-size: 16px;
}

header li{
	float:left;
	display:inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float:left;
}

header #branding h1{	
    margin:0;
}

header nav{
	float:left;
	margin-top:10px;
	margin-bottom:10px;
}

header .highlight, header .current a{
	color:#ff4040;
}

header a:hover{
	color:#ff4040;
}

aside#sidebar{
	float:right;
	width:30%;
	margin:10px;
}



article#main-col{
	float:left;
	width: 65%;
	margin-top:10px;
}


/* Footer */

footer{
	padding:10px;
	margin-top:20px;
	color:#ffffff;
	background-color:#ff3030;
	text-align: center;
}